{
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/compute/",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "userIp": {
      "description": "Legacy name for parameter that has been superseded by `quotaUser`.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    }
  },
  "name": "compute",
  "version": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/compute_engine-16.png",
    "x32": "https://www.google.com/images/icons/product/compute_engine-32.png"
  },
  "mtlsRootUrl": "https://compute.mtls.googleapis.com/",
  "batchPath": "batch/compute/v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://compute.googleapis.com/compute/v1/",
  "servicePath": "compute/v1/",
  "discoveryVersion": "v1",
  "resources": {
    "machineTypes": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "response": {
            "$ref": "MachineType"
          },
          "description": "Returns the specified machine type. Gets a list of available machine types by making a list() request.",
          "parameters": {
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "location": "path",
              "required": true
            },
            "machineType": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "type": "string",
              "description": "Name of the machine type to return."
            },
            "zone": {
              "location": "path",
              "required": true,
              "description": "The name of the zone for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "parameterOrder": [
            "project",
            "zone",
            "machineType"
          ],
          "path": "projects/{project}/zones/{zone}/machineTypes/{machineType}",
          "flatPath": "projects/{project}/zones/{zone}/machineTypes/{machineType}",
          "id": "compute.machineTypes.get",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ]
        },
        "aggregatedList": {
          "id": "compute.machineTypes.aggregatedList",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "response": {
            "$ref": "MachineTypeAggregatedList"
          },
          "description": "Retrieves an aggregated list of machine types.",
          "flatPath": "projects/{project}/aggregated/machineTypes",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "GET",
          "path": "projects/{project}/aggregated/machineTypes",
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`."
            },
            "maxResults": {
              "type": "integer",
              "minimum": "0",
              "location": "query",
              "default": "500",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "includeAllScopes": {
              "type": "boolean",
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            }
          }
        },
        "list": {
          "path": "projects/{project}/zones/{zone}/machineTypes",
          "description": "Retrieves a list of machine types available to the specified project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameterOrder": [
            "project",
            "zone"
          ],
          "httpMethod": "GET",
          "id": "compute.machineTypes.list",
          "parameters": {
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "format": "uint32",
              "location": "query",
              "minimum": "0",
              "default": "500",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "filter": {
              "location": "query",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "type": "string"
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "zone": {
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "description": "The name of the zone for this request."
            },
            "project": {
              "description": "Project ID for this request.",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            }
          },
          "response": {
            "$ref": "MachineTypeList"
          },
          "flatPath": "projects/{project}/zones/{zone}/machineTypes"
        }
      }
    },
    "vpnTunnels": {
      "methods": {
        "delete": {
          "flatPath": "projects/{project}/regions/{region}/vpnTunnels/{vpnTunnel}",
          "parameterOrder": [
            "project",
            "region",
            "vpnTunnel"
          ],
          "parameters": {
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            },
            "region": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "description": "Name of the region for this request."
            },
            "vpnTunnel": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Name of the VpnTunnel resource to delete."
            },
            "project": {
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "Project ID for this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/regions/{region}/vpnTunnels/{vpnTunnel}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "DELETE",
          "description": "Deletes the specified VpnTunnel resource.",
          "id": "compute.vpnTunnels.delete"
        },
        "list": {
          "parameterOrder": [
            "project",
            "region"
          ],
          "response": {
            "$ref": "VpnTunnelList"
          },
          "description": "Retrieves a list of VpnTunnel resources contained in the specified project and region.",
          "httpMethod": "GET",
          "flatPath": "projects/{project}/regions/{region}/vpnTunnels",
          "id": "compute.vpnTunnels.list",
          "path": "projects/{project}/regions/{region}/vpnTunnels",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameters": {
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false."
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the region for this request."
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Project ID for this request.",
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "maxResults": {
              "type": "integer",
              "minimum": "0",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "format": "uint32",
              "default": "500"
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "path": "projects/{project}/regions/{region}/vpnTunnels/{vpnTunnel}",
          "parameterOrder": [
            "project",
            "region",
            "vpnTunnel"
          ],
          "flatPath": "projects/{project}/regions/{region}/vpnTunnels/{vpnTunnel}",
          "response": {
            "$ref": "VpnTunnel"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.vpnTunnels.get",
          "description": "Returns the specified VpnTunnel resource. Gets a list of available VPN tunnels by making a list() request.",
          "parameters": {
            "region": {
              "description": "Name of the region for this request.",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "vpnTunnel": {
              "type": "string",
              "description": "Name of the VpnTunnel resource to return.",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            }
          }
        },
        "setLabels": {
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "httpMethod": "POST",
          "path": "projects/{project}/regions/{region}/vpnTunnels/{resource}/setLabels",
          "flatPath": "projects/{project}/regions/{region}/vpnTunnels/{resource}/setLabels",
          "id": "compute.vpnTunnels.setLabels",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "request": {
            "$ref": "RegionSetLabelsRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "description": "Sets the labels on a VpnTunnel. To learn more about labels, read the Labeling Resources documentation.",
          "parameters": {
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "type": "string",
              "description": "The region for this request.",
              "required": true
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "description": "Project ID for this request.",
              "type": "string"
            },
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "aggregatedList": {
          "httpMethod": "GET",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "VpnTunnelAggregatedList"
          },
          "path": "projects/{project}/aggregated/vpnTunnels",
          "id": "compute.vpnTunnels.aggregatedList",
          "flatPath": "projects/{project}/aggregated/vpnTunnels",
          "parameters": {
            "returnPartialSuccess": {
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "location": "query",
              "type": "boolean"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`."
            },
            "includeAllScopes": {
              "type": "boolean",
              "location": "query",
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "default": "500",
              "minimum": "0",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Retrieves an aggregated list of VPN tunnels.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ]
        },
        "insert": {
          "flatPath": "projects/{project}/regions/{region}/vpnTunnels",
          "path": "projects/{project}/regions/{region}/vpnTunnels",
          "id": "compute.vpnTunnels.insert",
          "description": "Creates a VpnTunnel resource in the specified project and region using the data included in the request.",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "region": {
              "description": "Name of the region for this request.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            }
          },
          "request": {
            "$ref": "VpnTunnel"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "project",
            "region"
          ],
          "response": {
            "$ref": "Operation"
          }
        }
      }
    },
    "reservations": {
      "methods": {
        "update": {
          "flatPath": "projects/{project}/zones/{zone}/reservations/{reservation}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "description": "Update share settings of the reservation.",
          "parameters": {
            "requestId": {
              "location": "query",
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            },
            "zone": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "reservation": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Name of the reservation to update."
            },
            "paths": {
              "location": "query",
              "repeated": true,
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "type": "string",
              "description": "Update_mask indicates fields to be updated as part of this request.",
              "location": "query"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "description": "Project ID for this request."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "compute.reservations.update",
          "parameterOrder": [
            "project",
            "zone",
            "reservation"
          ],
          "path": "projects/{project}/zones/{zone}/reservations/{reservation}",
          "request": {
            "$ref": "Reservation"
          }
        },
        "resize": {
          "httpMethod": "POST",
          "path": "projects/{project}/zones/{zone}/reservations/{reservation}/resize",
          "parameterOrder": [
            "project",
            "zone",
            "reservation"
          ],
          "id": "compute.reservations.resize",
          "request": {
            "$ref": "ReservationsResizeRequest"
          },
          "flatPath": "projects/{project}/zones/{zone}/reservations/{reservation}/resize",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "description": "Resizes the reservation (applicable to standalone reservations only). For more information, read Modifying reservations.",
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "project": {
              "location": "path",
              "description": "Project ID for this request.",
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "reservation": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Name of the reservation to update.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            },
            "zone": {
              "location": "path",
              "type": "string",
              "description": "Name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            }
          }
        },
        "aggregatedList": {
          "response": {
            "$ref": "ReservationAggregatedList"
          },
          "parameterOrder": [
            "project"
          ],
          "id": "compute.reservations.aggregatedList",
          "path": "projects/{project}/aggregated/reservations",
          "parameters": {
            "orderBy": {
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Project ID for this request.",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "includeAllScopes": {
              "description": "Indicates whether every visible scope for each scope type (zone, region, global) should be included in the response. For new resource types added after this field, the flag has no effect as new resource types will always include every visible scope for each scope type in response. For resource types which predate this field, if this flag is omitted or false, only scopes of the scope types where the resource type is expected to be found will be included.",
              "type": "boolean",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "location": "query",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "default": "500",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "location": "query",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "type": "string"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "location": "query"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "projects/{project}/aggregated/reservations",
          "description": "Retrieves an aggregated list of reservations.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "httpMethod": "GET"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "httpMethod": "DELETE",
          "id": "compute.reservations.delete",
          "flatPath": "projects/{project}/zones/{zone}/reservations/{reservation}",
          "description": "Deletes the specified reservation.",
          "parameters": {
            "zone": {
              "required": true,
              "location": "path",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "Name of the zone for this request."
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "type": "string",
              "description": "Project ID for this request.",
              "required": true
            },
            "reservation": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name of the reservation to delete."
            },
            "requestId": {
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string"
            }
          },
          "path": "projects/{project}/zones/{zone}/reservations/{reservation}",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "zone",
            "reservation"
          ]
        },
        "get": {
          "response": {
            "$ref": "Reservation"
          },
          "description": "Retrieves information about the specified reservation.",
          "path": "projects/{project}/zones/{zone}/reservations/{reservation}",
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request."
            },
            "reservation": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "required": true,
              "description": "Name of the reservation to retrieve.",
              "type": "string"
            },
            "zone": {
              "required": true,
              "location": "path",
              "description": "Name of the zone for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            }
          },
          "flatPath": "projects/{project}/zones/{zone}/reservations/{reservation}",
          "parameterOrder": [
            "project",
            "zone",
            "reservation"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "id": "compute.reservations.get"
        },
        "list": {
          "id": "compute.reservations.list",
          "flatPath": "projects/{project}/zones/{zone}/reservations",
          "response": {
            "$ref": "ReservationList"
          },
          "path": "projects/{project}/zones/{zone}/reservations",
          "description": "A list of all the reservations that have been configured for the specified project in specified zone.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameters": {
            "filter": {
              "location": "query",
              "type": "string",
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`."
            },
            "zone": {
              "required": true,
              "location": "path",
              "description": "Name of the zone for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string"
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "default": "500",
              "minimum": "0",
              "type": "integer",
              "location": "query",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)"
            },
            "orderBy": {
              "type": "string",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results."
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "zone"
          ]
        },
        "setIamPolicy": {
          "parameters": {
            "zone": {
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "The name of the zone for this request."
            },
            "resource": {
              "location": "path",
              "description": "Name or id of the resource for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "ZoneSetPolicyRequest"
          },
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "flatPath": "projects/{project}/zones/{zone}/reservations/{resource}/setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy.",
          "httpMethod": "POST",
          "response": {
            "$ref": "Policy"
          },
          "id": "compute.reservations.setIamPolicy",
          "path": "projects/{project}/zones/{zone}/reservations/{resource}/setIamPolicy"
        },
        "getIamPolicy": {
          "response": {
            "$ref": "Policy"
          },
          "id": "compute.reservations.getIamPolicy",
          "description": "Gets the access control policy for a resource. May be empty if no such policy or resource exists.",
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "flatPath": "projects/{project}/zones/{zone}/reservations/{resource}/getIamPolicy",
          "path": "projects/{project}/zones/{zone}/reservations/{resource}/getIamPolicy",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "httpMethod": "GET",
          "parameters": {
            "zone": {
              "required": true,
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "location": "path",
              "description": "The name of the zone for this request."
            },
            "resource": {
              "type": "string",
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "description": "Project ID for this request.",
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path"
            },
            "optionsRequestedPolicyVersion": {
              "type": "integer",
              "location": "query",
              "description": "Requested IAM Policy version.",
              "format": "int32"
            }
          }
        },
        "testIamPermissions": {
          "parameterOrder": [
            "project",
            "zone",
            "resource"
          ],
          "description": "Returns permissions that a caller has on the specified resource.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "path": "projects/{project}/zones/{zone}/reservations/{resource}/testIamPermissions",
          "parameters": {
            "project": {
              "required": true,
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "resource": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "type": "string"
            },
            "zone": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "required": true,
              "description": "The name of the zone for this request."
            }
          },
          "flatPath": "projects/{project}/zones/{zone}/reservations/{resource}/testIamPermissions",
          "httpMethod": "POST",
          "response": {
            "$ref": "TestPermissionsResponse"
          },
          "request": {
            "$ref": "TestPermissionsRequest"
          },
          "id": "compute.reservations.testIamPermissions"
        },
        "insert": {
          "id": "compute.reservations.insert",
          "request": {
            "$ref": "Reservation"
          },
          "parameters": {
            "zone": {
              "location": "path",
              "description": "Name of the zone for this request.",
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "description": "Project ID for this request.",
              "location": "path",
              "required": true
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "project",
            "zone"
          ],
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "httpMethod": "POST",
          "flatPath": "projects/{project}/zones/{zone}/reservations",
          "path": "projects/{project}/zones/{zone}/reservations",
          "description": "Creates a new reservation. For more information, read Reserving zonal resources."
        }
      }
    },
    "httpsHealthChecks": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameters": {
            "project": {
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "required": true
            },
            "httpsHealthCheck": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "type": "string",
              "description": "Name of the HttpsHealthCheck resource to patch."
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            }
          },
          "request": {
            "$ref": "HttpsHealthCheck"
          },
          "parameterOrder": [
            "project",
            "httpsHealthCheck"
          ],
          "path": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}",
          "id": "compute.httpsHealthChecks.patch",
          "flatPath": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "description": "Updates a HttpsHealthCheck resource in the specified project using the data included in the request. This method supports PATCH semantics and uses the JSON merge patch format and processing rules."
        },
        "insert": {
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Project ID for this request.",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "projects/{project}/global/httpsHealthChecks",
          "description": "Creates a HttpsHealthCheck resource in the specified project using the data included in the request.",
          "request": {
            "$ref": "HttpsHealthCheck"
          },
          "id": "compute.httpsHealthChecks.insert",
          "path": "projects/{project}/global/httpsHealthChecks",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ]
        },
        "get": {
          "id": "compute.httpsHealthChecks.get",
          "parameters": {
            "httpsHealthCheck": {
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path",
              "type": "string",
              "description": "Name of the HttpsHealthCheck resource to return."
            },
            "project": {
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "location": "path"
            }
          },
          "description": "Returns the specified HttpsHealthCheck resource. Gets a list of available HTTPS health checks by making a list() request.",
          "parameterOrder": [
            "project",
            "httpsHealthCheck"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "path": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}",
          "response": {
            "$ref": "HttpsHealthCheck"
          },
          "httpMethod": "GET",
          "flatPath": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}"
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "id": "compute.httpsHealthChecks.update",
          "parameterOrder": [
            "project",
            "httpsHealthCheck"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}",
          "request": {
            "$ref": "HttpsHealthCheck"
          },
          "parameters": {
            "httpsHealthCheck": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Name of the HttpsHealthCheck resource to update.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string"
            },
            "requestId": {
              "type": "string",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query"
            }
          },
          "flatPath": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}",
          "description": "Updates a HttpsHealthCheck resource in the specified project using the data included in the request."
        },
        "list": {
          "id": "compute.httpsHealthChecks.list",
          "path": "projects/{project}/global/httpsHealthChecks",
          "httpMethod": "GET",
          "parameters": {
            "project": {
              "type": "string",
              "required": true,
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "location": "path"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "default": "500",
              "minimum": "0",
              "format": "uint32",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "location": "query",
              "type": "integer"
            },
            "orderBy": {
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported.",
              "type": "string",
              "location": "query"
            },
            "returnPartialSuccess": {
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Retrieves the list of HttpsHealthCheck resources available to the specified project.",
          "flatPath": "projects/{project}/global/httpsHealthChecks",
          "response": {
            "$ref": "HttpsHealthCheckList"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameterOrder": [
            "project"
          ]
        },
        "delete": {
          "id": "compute.httpsHealthChecks.delete",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes the specified HttpsHealthCheck resource.",
          "parameters": {
            "httpsHealthCheck": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "description": "Name of the HttpsHealthCheck resource to delete.",
              "required": true,
              "type": "string"
            },
            "project": {
              "location": "path",
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "Project ID for this request."
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "httpMethod": "DELETE",
          "path": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}",
          "parameterOrder": [
            "project",
            "httpsHealthCheck"
          ],
          "flatPath": "projects/{project}/global/httpsHealthChecks/{httpsHealthCheck}"
        }
      }
    },
    "interconnectAttachments": {
      "methods": {
        "patch": {
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "PATCH",
          "description": "Updates the specified interconnect attachment with the data included in the request. This method supports PATCH semantics and uses the JSON merge patch format and processing rules.",
          "flatPath": "projects/{project}/regions/{region}/interconnectAttachments/{interconnectAttachment}",
          "parameters": {
            "region": {
              "description": "Name of the region scoping this request.",
              "type": "string",
              "required": true,
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?"
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "location": "query",
              "type": "string"
            },
            "interconnectAttachment": {
              "type": "string",
              "description": "Name of the interconnect attachment to patch.",
              "location": "path",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}"
            },
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "required": true,
              "description": "Project ID for this request.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "region",
            "interconnectAttachment"
          ],
          "id": "compute.interconnectAttachments.patch",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/regions/{region}/interconnectAttachments/{interconnectAttachment}",
          "request": {
            "$ref": "InterconnectAttachment"
          }
        },
        "delete": {
          "flatPath": "projects/{project}/regions/{region}/interconnectAttachments/{interconnectAttachment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "project",
            "region",
            "interconnectAttachment"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Operation"
          },
          "description": "Deletes the specified interconnect attachment.",
          "id": "compute.interconnectAttachments.delete",
          "path": "projects/{project}/regions/{region}/interconnectAttachments/{interconnectAttachment}",
          "parameters": {
            "interconnectAttachment": {
              "type": "string",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "required": true,
              "description": "Name of the interconnect attachment to delete.",
              "location": "path"
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string",
              "location": "query"
            },
            "region": {
              "description": "Name of the region for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string"
            },
            "project": {
              "required": true,
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "location": "path"
            }
          }
        },
        "insert": {
          "parameters": {
            "requestId": {
              "type": "string",
              "location": "query",
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000)."
            },
            "region": {
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "description": "Name of the region for this request.",
              "type": "string"
            },
            "project": {
              "description": "Project ID for this request.",
              "required": true,
              "type": "string",
              "location": "path",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))"
            },
            "validateOnly": {
              "location": "query",
              "description": "If true, the request will not be committed.",
              "type": "boolean"
            }
          },
          "id": "compute.interconnectAttachments.insert",
          "request": {
            "$ref": "InterconnectAttachment"
          },
          "parameterOrder": [
            "project",
            "region"
          ],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "path": "projects/{project}/regions/{region}/interconnectAttachments",
          "flatPath": "projects/{project}/regions/{region}/interconnectAttachments",
          "response": {
            "$ref": "Operation"
          },
          "description": "Creates an InterconnectAttachment in the specified project using the data included in the request."
        },
        "get": {
          "id": "compute.interconnectAttachments.get",
          "parameterOrder": [
            "project",
            "region",
            "interconnectAttachment"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "InterconnectAttachment"
          },
          "flatPath": "projects/{project}/regions/{region}/interconnectAttachments/{interconnectAttachment}",
          "path": "projects/{project}/regions/{region}/interconnectAttachments/{interconnectAttachment}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameters": {
            "project": {
              "description": "Project ID for this request.",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "type": "string",
              "location": "path",
              "required": true
            },
            "region": {
              "required": true,
              "description": "Name of the region for this request.",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "type": "string",
              "location": "path"
            },
            "interconnectAttachment": {
              "description": "Name of the interconnect attachment to return.",
              "type": "string",
              "required": true,
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "location": "path"
            }
          },
          "description": "Returns the specified interconnect attachment."
        },
        "list": {
          "description": "Retrieves the list of interconnect attachments contained within the specified region.",
          "parameters": {
            "maxResults": {
              "minimum": "0",
              "description": "The maximum number of results per page that should be returned. If the number of available results is larger than `maxResults`, Compute Engine returns a `nextPageToken` that can be used to get the next page of results in subsequent list requests. Acceptable values are `0` to `500`, inclusive. (Default: `500`)",
              "type": "integer",
              "default": "500",
              "location": "query",
              "format": "uint32"
            },
            "project": {
              "type": "string",
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "location": "path",
              "required": true,
              "description": "Project ID for this request."
            },
            "orderBy": {
              "type": "string",
              "location": "query",
              "description": "Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name. You can also sort results in descending order based on the creation timestamp using `orderBy=\"creationTimestamp desc\"`. This sorts results based on the `creationTimestamp` field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first. Currently, only sorting by `name` or `creationTimestamp desc` is supported."
            },
            "pageToken": {
              "description": "Specifies a page token to use. Set `pageToken` to the `nextPageToken` returned by a previous list request to get the next page of results.",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "A filter expression that filters resources listed in the response. Most Compute resources support two types of filter expressions: expressions that support regular expressions and expressions that follow API improvement proposal AIP-160. If you want to use AIP-160, your expression must specify the field name, an operator, and the value that you want to use for filtering. The value must be a string, a number, or a boolean. The operator must be either `=`, `!=`, `\u003e`, `\u003c`, `\u003c=`, `\u003e=` or `:`. For example, if you are filtering Compute Engine instances, you can exclude instances named `example-instance` by specifying `name != example-instance`. The `:` operator can be used with string fields to match substrings. For non-string fields it is equivalent to the `=` operator. The `:*` comparison can be used to test whether a key has been defined. For example, to find all objects with `owner` label use: ``` labels.owner:* ``` You can also filter nested fields. For example, you could specify `scheduling.automaticRestart = false` to include instances only if they are not scheduled for automatic restarts. You can use filtering on nested fields to filter based on resource labels. To filter on multiple expressions, provide each separate expression within parentheses. For example: ``` (scheduling.automaticRestart = true) (cpuPlatform = \"Intel Skylake\") ``` By default, each expression is an `AND` expression. However, you can include `AND` and `OR` expressions explicitly. For example: ``` (cpuPlatform = \"Intel Skylake\") OR (cpuPlatform = \"Intel Broadwell\") AND (scheduling.automaticRestart = true) ``` If you want to use a regular expression, use the `eq` (equal) or `ne` (not equal) operator against a single un-parenthesized expression with or without quotes or against multiple parenthesized expressions. Examples: `fieldname eq unquoted literal` `fieldname eq 'single quoted literal'` `fieldname eq \"double quoted literal\"` `(fieldname1 eq literal) (fieldname2 ne \"literal\")` The literal value is interpreted as a regular expression using Google RE2 library syntax. The literal value must match the entire field. For example, to filter for instances that do not end with name \"instance\", you would use `name ne .*instance`.",
              "location": "query",
              "type": "string"
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "description": "Name of the region for this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "returnPartialSuccess": {
              "location": "query",
              "description": "Opt-in for partial success behavior which provides partial results in case of failure. The default value is false.",
              "type": "boolean"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "parameterOrder": [
            "project",
            "region"
          ],
          "flatPath": "projects/{project}/regions/{region}/interconnectAttachments",
          "path": "projects/{project}/regions/{region}/interconnectAttachments",
          "response": {
            "$ref": "InterconnectAttachmentList"
          },
          "id": "compute.interconnectAttachments.list",
          "httpMethod": "GET"
        },
        "setLabels": {
          "request": {
            "$ref": "RegionSetLabelsRequest"
          },
          "description": "Sets the labels on an InterconnectAttachment. To learn more about labels, read the Labeling Resources documentation.",
          "parameters": {
            "project": {
              "pattern": "(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z0-9](?:[-a-z0-9]{0,61}[a-z0-9])?))",
              "description": "Project ID for this request.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "requestId": {
              "description": "An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported ( 00000000-0000-0000-0000-000000000000).",
              "type": "string",
              "location": "query"
            },
            "region": {
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?",
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The region for this request."
            },
            "resource": {
              "required": true,
              "description": "Name or id of the resource for this request.",
              "location": "path",
              "pattern": "[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?|[1-9][0-9]{0,19}",
              "type": "string"
            }
          },
          "flatPath": "projects/{project}/regions/{region}/interconnectAttachments/{resource}/setLabels",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute"
          ],
          "parameterOrder": [
            "project",
            "region",
            "resource"
          ],
          "httpMethod": "POST",
          "path": "projects/{project}/regions/{region}/interconnectAttachments/{resource}/setLabels",
          "id": "compute.interconnectAttachments.setLabels"
        },
        "aggregatedList": {
          "id": "compute.interconnectAttachments.aggregatedList",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/compute",
            "https://www.googleapis.com/auth/compute.readonly"
          ],
          "httpMethod": "GET",
          "path": "projects/{project}/aggregated/interconnectAttachments",
          "parameterOrder": [
            "project"
          ],
          "response": {
            "$ref": "InterconnectAttachmentAggregatedList"
          },
          "parameters": {
            "includeAllScopes": {
              "location": "query",
              "type": "boolean",
[...]
