[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/google/protobuf
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/makdharma/zlib
[submodule "third_party/boringssl-with-bazel"]
	path = third_party/boringssl-with-bazel
	url = https://boringssl.googlesource.com/boringssl
[submodule "third_party/nanopb"]
	path = third_party/nanopb
	url = https://github.com/nanopb/nanopb
