{
  "version": "v1",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "responsePolicyRules": {
      "methods": {
        "delete": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Deletes a previously created Response Policy Rule.",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path"
            },
            "responsePolicyRule": {
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "required": true
            },
            "responsePolicy": {
              "required": true,
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "dns.responsePolicyRules.delete",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "httpMethod": "DELETE"
        },
        "list": {
          "description": "Enumerates all Response Policy Rules associated with a project.",
          "id": "dns.responsePolicyRules.list",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePolicyRulesListResponse"
          },
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string",
              "location": "query"
            },
            "project": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request."
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "responsePolicy": {
              "location": "path",
              "type": "string",
              "description": "User assigned name of the Response Policy to list.",
              "required": true
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules"
        },
        "update": {
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Updates an existing Response Policy Rule.",
          "response": {
            "$ref": "ResponsePolicyRulesUpdateResponse"
          },
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "httpMethod": "PUT",
          "id": "dns.responsePolicyRules.update",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameters": {
            "responsePolicyRule": {
              "required": true,
              "location": "path",
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          }
        },
        "create": {
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "description": "Creates a new Response Policy Rule.",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy containing the Response Policy Rule.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "id": "dns.responsePolicyRules.create",
          "httpMethod": "POST",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules"
        },
        "get": {
          "id": "dns.responsePolicyRules.get",
          "httpMethod": "GET",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "description": "Fetches the representation of an existing Response Policy Rule.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "parameters": {
            "responsePolicyRule": {
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "responsePolicy": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ResponsePolicyRule"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}"
        },
        "patch": {
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "request": {
            "$ref": "ResponsePolicyRule"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}/rules/{responsePolicyRule}",
          "parameterOrder": [
            "project",
            "responsePolicy",
            "responsePolicyRule"
          ],
          "httpMethod": "PATCH",
          "id": "dns.responsePolicyRules.patch",
          "response": {
            "$ref": "ResponsePolicyRulesPatchResponse"
          },
          "parameters": {
            "responsePolicyRule": {
              "required": true,
              "description": "User assigned name of the Response Policy Rule addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "responsePolicy": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "User assigned name of the Response Policy containing the Response Policy Rule."
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            }
          },
          "description": "Applies a partial update to an existing Response Policy Rule.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        }
      }
    },
    "responsePolicies": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "description": "Updates an existing Response Policy.",
          "request": {
            "$ref": "ResponsePolicy"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePoliciesUpdateResponse"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.update",
          "httpMethod": "PUT",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "responsePolicy": {
              "description": "User assigned name of the Response Policy addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "responsePolicy": {
              "location": "path",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Deletes a previously created Response Policy. Fails if the response policy is non-empty or still being referenced by a network.",
          "id": "dns.responsePolicies.delete"
        },
        "create": {
          "id": "dns.responsePolicies.create",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "parameters": {
            "project": {
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "parameterOrder": [
            "project"
          ],
          "description": "Creates a new Response Policy",
          "path": "dns/v1/projects/{project}/responsePolicies",
          "request": {
            "$ref": "ResponsePolicy"
          }
        },
        "get": {
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            },
            "responsePolicy": {
              "type": "string",
              "location": "path",
              "description": "User assigned name of the Response Policy addressed by this request.",
              "required": true
            }
          },
          "description": "Fetches the representation of an existing Response Policy.",
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "id": "dns.responsePolicies.get",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "response": {
            "$ref": "ResponsePolicy"
          },
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "id": "dns.responsePolicies.patch",
          "flatPath": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "responsePolicy": {
              "location": "path",
              "description": "User assigned name of the Respones Policy addressed by this request.",
              "required": true,
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          },
          "request": {
            "$ref": "ResponsePolicy"
          },
          "path": "dns/v1/projects/{project}/responsePolicies/{responsePolicy}",
          "description": "Applies a partial update to an existing Response Policy.",
          "parameterOrder": [
            "project",
            "responsePolicy"
          ],
          "response": {
            "$ref": "ResponsePoliciesPatchResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "PATCH"
        },
        "list": {
          "response": {
            "$ref": "ResponsePoliciesListResponse"
          },
          "id": "dns.responsePolicies.list",
          "flatPath": "dns/v1/projects/{project}/responsePolicies",
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query"
            }
          },
          "description": "Enumerates all Response Policies associated with a project.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1/projects/{project}/responsePolicies"
        }
      }
    },
    "changes": {
      "methods": {
        "create": {
          "id": "dns.changes.create",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "POST",
          "description": "Atomically updates the ResourceRecordSet collection.",
          "request": {
            "$ref": "Change"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "Change"
          },
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "project": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request."
            }
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "sortOrder": {
              "description": "Sorting order direction: 'ascending' or 'descending'.",
              "type": "string",
              "location": "query"
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request."
            },
            "sortBy": {
              "default": "changeSequence",
              "enumDescriptions": [
                ""
              ],
              "enum": [
                "changeSequence"
              ],
              "description": "Sorting criterion. The only supported value is change sequence.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Enumerates Changes to a ResourceRecordSet collection.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "id": "dns.changes.list",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "response": {
            "$ref": "ChangesListResponse"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone"
          ]
        },
        "get": {
          "description": "Fetches the representation of an existing Change.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "id": "dns.changes.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "changeId"
          ],
          "parameters": {
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string"
            },
            "changeId": {
              "required": true,
              "description": "The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.",
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}",
          "response": {
            "$ref": "Change"
          },
          "httpMethod": "GET"
        }
      }
    },
    "dnsKeys": {
      "methods": {
        "list": {
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "digestType": {
              "location": "query",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.",
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "description": "Enumerates DnsKeys to a ResourceRecordSet collection.",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys",
          "id": "dns.dnsKeys.list",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "response": {
            "$ref": "DnsKeysListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET"
        },
        "get": {
          "response": {
            "$ref": "DnsKey"
          },
          "parameters": {
            "digestType": {
              "location": "query",
              "type": "string",
              "description": "An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed."
            },
            "dnsKeyId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The identifier of the requested DnsKey."
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "httpMethod": "GET",
          "description": "Fetches the representation of an existing DnsKey.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}",
          "id": "dns.dnsKeys.get",
          "parameterOrder": [
            "project",
            "managedZone",
            "dnsKeyId"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}"
        }
      }
    },
    "managedZoneOperations": {
      "methods": {
        "get": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}",
          "parameterOrder": [
            "project",
            "managedZone",
            "operation"
          ],
          "id": "dns.managedZoneOperations.get",
          "response": {
            "$ref": "Operation"
          },
          "description": "Fetches the representation of an existing Operation.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "httpMethod": "GET",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "type": "string",
              "location": "path",
              "description": "Identifies the managed zone addressed by this request.",
              "required": true
            },
            "operation": {
              "description": "Identifies the operation addressed by this request (ID of the operation).",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "id": "dns.managedZoneOperations.list",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZoneOperationsListResponse"
          },
          "description": "Enumerates Operations for the given ManagedZone.",
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "sortBy": {
              "enum": [
                "startTime",
                "id"
              ],
              "description": "Sorting criterion. The only supported values are START_TIME and ID.",
              "default": "startTime",
              "location": "query",
              "enumDescriptions": [
                "",
                ""
              ],
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/operations"
        }
      }
    },
    "projects": {
      "methods": {
        "get": {
          "flatPath": "dns/v1/projects/{project}",
          "parameterOrder": [
            "project"
          ],
          "description": "Fetches the representation of an existing Project.",
          "response": {
            "$ref": "Project"
          },
          "id": "dns.projects.get",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request."
            }
          }
        }
      }
    },
    "policies": {
      "methods": {
        "delete": {
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "policy": {
              "required": true,
              "location": "path",
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string"
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "project",
            "policy"
          ],
          "id": "dns.policies.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Deletes a previously created Policy. Fails if the policy is still being referenced by a network."
        },
        "create": {
          "httpMethod": "POST",
          "id": "dns.policies.create",
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1/projects/{project}/policies",
          "response": {
            "$ref": "Policy"
          },
          "flatPath": "dns/v1/projects/{project}/policies",
          "request": {
            "$ref": "Policy"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "project": {
              "type": "string",
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "description": "Creates a new Policy."
        },
        "update": {
          "id": "dns.policies.update",
          "parameters": {
            "policy": {
              "location": "path",
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "required": true
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Updates an existing Policy.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "request": {
            "$ref": "Policy"
          },
          "response": {
            "$ref": "PoliciesUpdateResponse"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}"
        },
        "list": {
          "description": "Enumerates all Policies associated with a project.",
          "path": "dns/v1/projects/{project}/policies",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return."
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            }
          },
          "id": "dns.policies.list",
          "response": {
            "$ref": "PoliciesListResponse"
          },
          "parameterOrder": [
            "project"
          ],
          "flatPath": "dns/v1/projects/{project}/policies",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "patch": {
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "id": "dns.policies.patch",
          "description": "Applies a partial update to an existing Policy.",
          "request": {
            "$ref": "Policy"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "response": {
            "$ref": "PoliciesPatchResponse"
          },
          "parameters": {
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "policy": {
              "location": "path",
              "required": true,
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string"
            }
          }
        },
        "get": {
          "id": "dns.policies.get",
          "response": {
            "$ref": "Policy"
          },
          "path": "dns/v1/projects/{project}/policies/{policy}",
          "parameterOrder": [
            "project",
            "policy"
          ],
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/policies/{policy}",
          "parameters": {
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            },
            "policy": {
              "description": "User given friendly name of the policy addressed by this request.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "description": "Fetches the representation of an existing Policy."
        }
      }
    },
    "resourceRecordSets": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "name": {
              "type": "string",
              "location": "path",
              "description": "Fully qualified domain name.",
              "required": true
            },
            "managedZone": {
              "required": true,
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string"
            },
            "type": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "RRSet type."
            },
            "project": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "Identifies the project addressed by this request."
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string",
              "location": "query"
            }
          },
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "httpMethod": "PATCH",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.patch",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Applies a partial update to an existing ResourceRecordSet.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}"
        },
        "get": {
          "parameters": {
            "type": {
              "description": "RRSet type.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Fully qualified domain name."
            },
            "clientOperationId": {
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "type": "string"
            },
            "managedZone": {
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "httpMethod": "GET",
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "id": "dns.resourceRecordSets.get",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "description": "Fetches the representation of an existing ResourceRecordSet.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ]
        },
        "delete": {
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameterOrder": [
            "project",
            "managedZone",
            "name",
            "type"
          ],
          "id": "dns.resourceRecordSets.delete",
          "response": {
            "$ref": "ResourceRecordSetsDeleteResponse"
          },
          "description": "Deletes a previously created ResourceRecordSet.",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}",
          "httpMethod": "DELETE",
          "parameters": {
            "project": {
              "required": true,
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "name": {
              "type": "string",
              "required": true,
              "description": "Fully qualified domain name.",
              "location": "path"
            },
            "clientOperationId": {
              "location": "query",
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "managedZone": {
              "required": true,
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "location": "path"
            },
            "type": {
              "required": true,
              "description": "RRSet type.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "list": {
          "httpMethod": "GET",
          "description": "Enumerates ResourceRecordSets that you have created but not yet deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "id": "dns.resourceRecordSets.list",
          "response": {
            "$ref": "ResourceRecordSetsListResponse"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "parameters": {
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "managedZone": {
              "required": true,
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path"
            },
            "name": {
              "description": "Restricts the list to return only records with this fully qualified domain name.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "type": "string"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.",
              "location": "query"
            }
          }
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ResourceRecordSet"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets",
          "request": {
            "$ref": "ResourceRecordSet"
          },
          "parameters": {
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "id": "dns.resourceRecordSets.create",
          "description": "Creates a new ResourceRecordSet.",
          "httpMethod": "POST",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}/rrsets"
        }
      }
    },
    "managedZones": {
      "methods": {
        "patch": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "parameters": {
            "managedZone": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID."
            },
            "project": {
              "location": "path",
              "required": true,
              "description": "Identifies the project addressed by this request.",
              "type": "string"
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            }
          },
          "id": "dns.managedZones.patch",
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "ManagedZone"
          },
          "description": "Applies a partial update to an existing ManagedZone."
        },
        "getIamPolicy": {
          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "httpMethod": "POST",
          "id": "dns.managedZones.getIamPolicy",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:getIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "path": "dns/v1/{+resource}:getIamPolicy",
          "request": {
            "$ref": "GoogleIamV1GetIamPolicyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "resource": {
              "location": "path",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "required": true,
              "type": "string",
              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          }
        },
        "get": {
          "description": "Fetches the representation of an existing ManagedZone.",
          "response": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "id": "dns.managedZones.get",
          "parameters": {
            "managedZone": {
              "location": "path",
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "required": true
            },
            "project": {
              "location": "path",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "type": "string"
            },
            "clientOperationId": {
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}"
        },
        "delete": {
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Deletes a previously created ManagedZone.",
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "location": "path",
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true
            }
          },
          "httpMethod": "DELETE",
          "id": "dns.managedZones.delete"
        },
        "create": {
          "description": "Creates a new ManagedZone.",
          "id": "dns.managedZones.create",
          "request": {
            "$ref": "ManagedZone"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "response": {
            "$ref": "ManagedZone"
          },
          "flatPath": "dns/v1/projects/{project}/managedZones",
          "parameters": {
            "clientOperationId": {
              "type": "string",
              "location": "query",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection."
            },
            "project": {
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "project"
          ],
          "path": "dns/v1/projects/{project}/managedZones"
        },
        "testIamPermissions": {
          "httpMethod": "POST",
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:testIamPermissions",
          "path": "dns/v1/{+resource}:testIamPermissions",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "request": {
            "$ref": "GoogleIamV1TestIamPermissionsRequest"
          },
          "parameterOrder": [
            "resource"
          ],
          "parameters": {
            "resource": {
              "required": true,
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
            }
          },
          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
          "response": {
            "$ref": "GoogleIamV1TestIamPermissionsResponse"
          },
          "id": "dns.managedZones.testIamPermissions"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only",
            "https://www.googleapis.com/auth/ndev.clouddns.readonly",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "pageToken": {
              "description": "Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "project": {
              "description": "Identifies the project addressed by this request.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "dnsName": {
              "type": "string",
              "description": "Restricts the list to return only zones with this domain name.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ManagedZonesListResponse"
          },
          "path": "dns/v1/projects/{project}/managedZones",
          "parameterOrder": [
            "project"
          ],
          "id": "dns.managedZones.list",
          "description": "Enumerates ManagedZones that have been created but not yet deleted.",
          "httpMethod": "GET",
          "flatPath": "dns/v1/projects/{project}/managedZones"
        },
        "setIamPolicy": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "resource": {
              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
              "pattern": "^projects/[^/]+/managedZones/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "request": {
            "$ref": "GoogleIamV1SetIamPolicyRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleIamV1Policy"
          },
          "id": "dns.managedZones.setIamPolicy",
          "parameterOrder": [
            "resource"
          ],
          "flatPath": "dns/v1/projects/{projectsId}/managedZones/{managedZonesId}:setIamPolicy",
          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
          "path": "dns/v1/{+resource}:setIamPolicy"
        },
        "update": {
          "request": {
            "$ref": "ManagedZone"
          },
          "path": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/ndev.clouddns.readwrite"
          ],
          "parameters": {
            "managedZone": {
              "description": "Identifies the managed zone addressed by this request. Can be the managed zone name or ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "clientOperationId": {
              "type": "string",
              "description": "For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.",
              "location": "query"
            },
            "project": {
              "required": true,
              "type": "string",
              "description": "Identifies the project addressed by this request.",
              "location": "path"
            }
          },
          "flatPath": "dns/v1/projects/{project}/managedZones/{managedZone}",
          "description": "Updates an existing ManagedZone.",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "project",
            "managedZone"
          ],
          "httpMethod": "PUT",
          "id": "dns.managedZones.update"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "name": "dns",
  "description": "",
  "id": "dns:v1",
  "documentationLink": "https://cloud.google.com/dns/docs",
  "revision": "20220929",
  "title": "Cloud DNS API",
  "basePath": "",
  "mtlsRootUrl": "https://dns.mtls.googleapis.com/",
  "batchPath": "batch",
  "baseUrl": "https://dns.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ndev.clouddns.readonly": {
          "description": "View your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        },
        "https://www.googleapis.com/auth/ndev.clouddns.readwrite": {
          "description": "View and manage your DNS records hosted by Google Cloud DNS"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "rootUrl": "https://dns.googleapis.com/",
  "schemas": {
    "GoogleIamV1GetPolicyOptions": {
      "description": "Encapsulates settings provided to GetIamPolicy.",
      "type": "object",
      "id": "GoogleIamV1GetPolicyOptions",
      "properties": {
        "requestedPolicyVersion": {
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        }
      }
    },
    "GoogleIamV1AuditLogConfig": {
      "id": "GoogleIamV1AuditLogConfig",
      "properties": {
        "exemptedMembers": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array"
        },
        "logType": {
          "description": "The log type that this config enables.",
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "type": "string"
        }
      },
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "type": "object"
    },
    "Change": {
      "description": "A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence.",
      "id": "Change",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#change",
          "type": "string"
        },
        "additions": {
          "description": "Which ResourceRecordSets to add?",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "type": "array"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "startTime": {
          "description": "The time that this operation was started by the server (output only). This is in RFC3339 text format.",
          "type": "string"
        },
        "isServing": {
          "description": "If the DNS queries for the zone will be served.",
          "type": "boolean"
        },
        "status": {
          "description": "Status of the operation (output only). A status of \"done\" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.",
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "pending",
            "done"
          ]
        },
        "deletions": {
          "type": "array",
          "items": {
            "$ref": "ResourceRecordSet"
          },
          "description": "Which ResourceRecordSets to remove? Must match existing data exactly."
        }
      }
    },
    "ManagedZoneForwardingConfigNameServerTarget": {
      "id": "ManagedZoneForwardingConfigNameServerTarget",
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#managedZoneForwardingConfigNameServerTarget",
          "type": "string"
        },
        "forwardingPath": {
          "type": "string",
          "description": "Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.",
          "enumDescriptions": [
            "Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses forward to the target through the VPC and non-RFC1918 addresses forward to the target through the internet",
            "Cloud DNS always forwards to this target through the VPC."
          ],
          "enum": [
            "default",
            "private"
          ]
        },
        "ipv4Address": {
          "type": "string",
          "description": "IPv4 address of a target name server."
        }
      }
    },
    "OperationManagedZoneContext": {
      "type": "object",
      "id": "OperationManagedZoneContext",
      "properties": {
        "newValue": {
          "description": "The post-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        },
        "oldValue": {
          "description": "The pre-operation ManagedZone resource.",
          "$ref": "ManagedZone"
        }
      }
    },
    "RRSetRoutingPolicyWrrPolicy": {
      "type": "object",
      "id": "RRSetRoutingPolicyWrrPolicy",
      "description": "Configures a RRSetRoutingPolicy that routes in a weighted round robin fashion.",
      "properties": {
        "kind": {
          "default": "dns#rRSetRoutingPolicyWrrPolicy",
          "type": "string"
        },
        "items": {
          "items": {
            "$ref": "RRSetRoutingPolicyWrrPolicyWrrPolicyItem"
          },
          "type": "array"
        }
      }
    },
    "Expr": {
      "type": "object",
      "properties": {
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() \u003c 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr"
    },
    "ManagedZonePeeringConfig": {
      "id": "ManagedZonePeeringConfig",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfig"
        },
        "targetNetwork": {
          "$ref": "ManagedZonePeeringConfigTargetNetwork",
          "description": "The network with which to peer."
        }
      },
      "type": "object"
    },
    "GoogleIamV1GetIamPolicyRequest": {
      "properties": {
        "options": {
          "$ref": "GoogleIamV1GetPolicyOptions",
          "description": "OPTIONAL: A `GetPolicyOptions` object for specifying options to `GetIamPolicy`."
        }
      },
      "type": "object",
      "description": "Request message for `GetIamPolicy` method.",
      "id": "GoogleIamV1GetIamPolicyRequest"
    },
    "ResponsePolicyRulesPatchResponse": {
      "id": "ResponsePolicyRulesPatchResponse",
      "properties": {
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object"
    },
    "PoliciesPatchResponse": {
      "id": "PoliciesPatchResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "policy": {
          "$ref": "Policy"
        }
      },
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfig": {
      "id": "ManagedZonePrivateVisibilityConfig",
      "properties": {
        "networks": {
          "type": "array",
          "description": "The list of VPC networks that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigNetwork"
          }
        },
        "gkeClusters": {
          "type": "array",
          "description": "The list of Google Kubernetes Engine clusters that can see this zone.",
          "items": {
            "$ref": "ManagedZonePrivateVisibilityConfigGKECluster"
          }
        },
        "kind": {
          "default": "dns#managedZonePrivateVisibilityConfig",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PolicyAlternativeNameServerConfig": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "dns#policyAlternativeNameServerConfig",
          "type": "string"
        },
        "targetNameServers": {
          "description": "Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.",
          "items": {
            "$ref": "PolicyAlternativeNameServerConfigTargetNameServer"
          },
          "type": "array"
        }
      },
      "id": "PolicyAlternativeNameServerConfig"
    },
    "RRSetRoutingPolicyLoadBalancerTarget": {
      "properties": {
        "port": {
          "description": "Load Balancer to health check. The configured port of the Load Balancer.",
          "type": "string"
        },
        "loadBalancerType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "none",
            "regionalL4ilb"
          ],
          "type": "string"
        },
        "kind": {
          "default": "dns#rRSetRoutingPolicyLoadBalancerTarget",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "present. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network} The project ID in which the ILB exists."
        },
        "networkUrl": {
          "description": "The fully qualified url of the network on which the ILB is",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "The region for regional ILBs."
        },
        "ipAddress": {
          "description": "The frontend IP address of the",
          "type": "string"
        },
        "ipProtocol": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "undefined",
            "tcp",
            "udp"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "RRSetRoutingPolicyLoadBalancerTarget"
    },
    "ManagedZoneDnsSecConfig": {
      "id": "ManagedZoneDnsSecConfig",
      "type": "object",
      "properties": {
        "nonExistence": {
          "description": "Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.",
          "type": "string",
          "enum": [
            "nsec",
            "nsec3"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZoneDnsSecConfig"
        },
        "defaultKeySpecs": {
          "type": "array",
          "description": "Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.",
          "items": {
            "$ref": "DnsKeySpec"
          }
        },
        "state": {
          "enumDescriptions": [
            "DNSSEC is disabled; the zone is not signed.",
            "DNSSEC is enabled; the zone is signed and fully managed.",
            "DNSSEC is enabled, but in a \"transfer\" mode."
          ],
          "type": "string",
          "description": "Specifies whether DNSSEC is enabled, and what mode it is in.",
          "enum": [
            "off",
            "on",
            "transfer"
          ]
        }
      }
    },
    "ManagedZone": {
      "description": "A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels."
        },
        "visibility": {
          "description": "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources.",
          "enum": [
            "public",
            "private"
          ],
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "description": "The time that this resource was created on the server. This is in RFC3339 text format. Output only."
        },
        "forwardingConfig": {
          "description": "The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.",
          "$ref": "ManagedZoneForwardingConfig"
        },
        "reverseLookupConfig": {
          "description": "The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.",
          "$ref": "ManagedZoneReverseLookupConfig"
        },
        "peeringConfig": {
          "$ref": "ManagedZonePeeringConfig",
          "description": "The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with."
        },
        "nameServers": {
          "items": {
            "type": "string"
          },
          "description": "Delegate your managed_zone to these virtual name servers; defined by the server (output only)",
          "type": "array"
        },
        "dnssecConfig": {
          "$ref": "ManagedZoneDnsSecConfig",
          "description": "DNSSEC configuration."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZone"
        },
        "description": {
          "description": "A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function.",
          "type": "string"
        },
        "privateVisibilityConfig": {
          "description": "For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.",
          "$ref": "ManagedZonePrivateVisibilityConfig"
        },
        "dnsName": {
          "type": "string",
          "description": "The DNS name of this managed zone, for instance \"example.com.\"."
        },
        "serviceDirectoryConfig": {
          "$ref": "ManagedZoneServiceDirectoryConfig",
          "description": "This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones."
        },
        "name": {
          "type": "string",
          "description": "User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes."
        },
        "nameServerSet": {
          "description": "Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team.",
          "type": "string"
        },
        "cloudLoggingConfig": {
          "$ref": "ManagedZoneCloudLoggingConfig"
        },
        "id": {
          "description": "Unique identifier for the resource; defined by the server (output only)",
          "type": "string",
          "format": "uint64"
        }
      },
      "id": "ManagedZone",
      "type": "object"
    },
    "ManagedZoneReverseLookupConfig": {
      "id": "ManagedZoneReverseLookupConfig",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZoneReverseLookupConfig"
        }
      }
    },
    "ResponsePolicy": {
      "type": "object",
      "description": "A Response Policy is a collection of selectors that apply to queries made against one or more Virtual Private Cloud networks.",
      "id": "ResponsePolicy",
      "properties": {
        "networks": {
          "items": {
            "$ref": "ResponsePolicyNetwork"
          },
          "description": "List of network names specifying networks to which this policy is applied.",
          "type": "array"
        },
        "kind": {
          "default": "dns#responsePolicy",
          "type": "string"
        },
        "id": {
          "format": "int64",
          "description": "Unique identifier for the resource; defined by the server (output only).",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User labels."
        },
        "responsePolicyName": {
          "description": "User assigned name for this Response Policy.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this Response Policy.",
          "type": "string"
        },
        "gkeClusters": {
          "type": "array",
          "items": {
            "$ref": "ResponsePolicyGKECluster"
          },
          "description": "The list of Google Kubernetes Engine clusters to which this response policy is applied."
        }
      }
    },
    "DnsKeyDigest": {
      "id": "DnsKeyDigest",
      "properties": {
        "type": {
          "description": "Specifies the algorithm used to calculate this digest.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "sha1",
            "sha256",
            "sha384"
          ]
        },
        "digest": {
          "description": "The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ResponsePolicyRulesUpdateResponse": {
      "id": "ResponsePolicyRulesUpdateResponse",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "responsePolicyRule": {
          "$ref": "ResponsePolicyRule"
        }
      },
      "type": "object"
    },
    "ResponsePoliciesListResponse": {
      "type": "object",
      "properties": {
        "header": {
          "$ref": "ResponseHeader"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size."
        },
        "responsePolicies": {
          "type": "array",
          "description": "The Response Policy resources.",
          "items": {
            "$ref": "ResponsePolicy"
          }
        }
      },
      "id": "ResponsePoliciesListResponse"
    },
    "Project": {
      "properties": {
        "id": {
          "type": "string",
          "description": "User assigned unique identifier for the resource (output only)."
        },
        "quota": {
          "description": "Quotas assigned to this project (output only).",
          "$ref": "Quota"
        },
        "number": {
          "type": "string",
          "format": "uint64",
          "description": "Unique numeric identifier for the resource; defined by the server (output only)."
        },
        "kind": {
          "type": "string",
          "default": "dns#project"
        }
      },
      "description": "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console. Next tag: 7.",
      "type": "object",
      "id": "Project"
    },
    "ResponsePoliciesUpdateResponse": {
      "id": "ResponsePoliciesUpdateResponse",
      "properties": {
        "responsePolicy": {
          "$ref": "ResponsePolicy"
        },
        "header": {
          "$ref": "ResponseHeader"
        }
      },
      "type": "object"
    },
    "RRSetRoutingPolicyGeoPolicyGeoPolicyItem": {
      "id": "RRSetRoutingPolicyGeoPolicyGeoPolicyItem",
      "type": "object",
      "description": "ResourceRecordSet data for one geo location.",
      "properties": {
        "healthCheckedTargets": {
          "description": "For A and AAAA types only. Endpoints to return in the query result only if they are healthy. These can be specified along with rrdata within this item.",
          "$ref": "RRSetRoutingPolicyHealthCheckTargets"
        },
        "kind": {
          "type": "string",
          "default": "dns#rRSetRoutingPolicyGeoPolicyGeoPolicyItem"
        },
        "location": {
          "type": "string",
          "description": "The geo-location granularity is a GCP region. This location string should correspond to a GCP region. e.g. \"us-east1\", \"southamerica-east1\", \"asia-east1\", etc."
        },
        "rrdatas": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "signatureRrdatas": {
          "description": "DNSSEC generated signatures for all the rrdata within this item. Note that if health checked targets are provided for DNSSEC enabled zones, there's a restriction of 1 ip per item. .",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleIamV1TestIamPermissionsResponse": {
      "type": "object",
      "id": "GoogleIamV1TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      },
      "description": "Response message for `TestIamPermissions` method."
    },
    "ManagedZonePeeringConfigTargetNetwork": {
      "id": "ManagedZonePeeringConfigTargetNetwork",
      "type": "object",
      "properties": {
        "deactivateTime": {
          "type": "string",
          "description": "The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only."
        },
        "kind": {
          "type": "string",
          "default": "dns#managedZonePeeringConfigTargetNetwork"
        },
        "networkUrl": {
          "type": "string",
          "description": "The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}"
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "id": "GoogleIamV1SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "type": "string",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "ManagedZonePrivateVisibilityConfigGKECluster": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "dns#managedZonePrivateVisibilityConfigGKECluster"
        },
        "gkeClusterName": {
[...]
